<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Task Buddy</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  
  <body>
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1491815327739701',
          xfbml      : true,
          version    : 'v2.2'
        });
        
        FB.getLoginStatus(function(response) {
        	 console.log(response);
        	  if (response.status === 'connected') {
        	    alert('Logged in.');
        	  }
        	  else {
        	    FB.login();
        	  }
        	});
        
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
      function welcomeUser(){
    	  FB.api('/me', function(response){
    		 alert(response.name); 
    	  });
    	  
      }
    </script>
	
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Task Buddy</a>
        </div>
      </div>
    </div>

    <div class="container-fluid content">
      <div class="row-fluid">
        <div class="span3">
        <div class="page-header">
            <div class="row-fluid" id="user-title">
                  <h3><span>User</span>'s Dashboard:</h3>&nbsp;&nbsp;<h3 id="score"></h3>
            </div>
          </div>
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="users">
              <li class="nav-header"><h6>Users</h6></li>
            </ul>
          </div>
          <div>
            <a href="#add-user" id="add-user" class="btn pull-right"><i class="icon-user"></i>&nbsp;&nbsp;Add User</a>
            <a href="#delete-user" id="remove-user" role="button" class="btn pull-right offset-right"><i class="icon-trash"></i>&nbsp;&nbsp;Delete User</a>
          </div>
        </div>
        <div class="span9 main-content">
          <div class="page-header">
            <div class="row-fluid">
                  <h3 id="user-title"><span>User</span>'s Tasks</h3>
                  <a href="#add-task" id="add-task" role="button" class="btn pull-right" data-toggle="modal"><i class="icon-tasks"></i>&nbsp;&nbsp;Add Task</a>
            </div>
          </div>
          <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="status-col">Status</th>
                <th>Title</th>
                <th>Description</th>
                <th>Points</th>
                <th class="date-col">Due Date</th>
                <th class="action-col">&nbsp;</th>
                <th class="action-col">&nbsp;</th>          
              </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/fw/bootstrap.min.js"></script>
    <script src="js/fw/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/fw/underscore.min.js"></script>
	<script type="text/javascript" src="js/fw/backbone.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

	<script type="text/template" id="user-dialog">
		<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="Add User" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        <h3 id="myModalLabel">Add/Edit User</h3>
	      </div>
	      <div class="modal-body">
	        <form class="form-inline">
				<input type="text" name="userFirstName" class="input-block-level user-firstName dialog-inputs" placeholder="First Name" value="<%= userFirstName %>">
				<input type="text" name="userLastName" class="input-block-level user-lastName dialog-inputs" placeholder="Last Name" value="<%= userLastName %>">
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button class="btn close-action" data-dismiss="modal" aria-hidden="true">Cancel</button>
	        <button class="btn btn-primary save-action">Save</button>
	      </div>
	    </div>
	    <div class="modal-backdrop fade in"></div>
	</script>
	
	<script type="text/template" id="user-item">
		<a href="#<%= userId %>" data-id="<%= userId %>"><%= userFirstName %> <%= userLastName %></a>
	</script>
	
	<script type="text/template" id="task-dialog">
		<div class="modal in fade" tabindex="-1" role="dialog" aria-labelledby="Add Task" aria-hidden="true">
	      <div class="modal-header">
	        <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        <h3 id="myModalLabel">Add/Edit Task</h3>
	      </div>
	      <div class="modal-body">
	        <form class="form-inline">
	          <input type="text" name="taskTitle" class="input-block-level input-taskTitle dialog-inputs" placeholder="Title" value="<%= taskTitle %>">
	       <textarea type="text" name="taskDescription" class="input-block-level input-taskDescription dialog-inputs" placeholder="Description" value="<%= taskDescription %>"></textarea>
        
    
<!-- Single button -->
<div class="btn-group input-block-level dialog-inputs">
  <button id="userButton" type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
    Assign user <span class="caret"></span>
  </button>
 <%= console.log("list of users"+JSON.stringify(list_of_users)) %>
  <ul class="dropdown-menu" role="menu">
     <% _.each(list_of_users, function(eachUser){ %>
    <li><a href="#" id="userli" title="<%= eachUser.userId %>"><%= eachUser.name %></a></li>
    <% }); %>   
  </ul>
<h4 class="selected-user" id="displayUserName"></h4>
</div>


	          <input type="text" name="taskPointValue" class="input-small input-taskPointValue dialog-inputs" placeholder="Points" value="<%= taskPointValue %>">
	          <div id="dp1" class="input-append date dialog-inputs">
	          	<input class="input-medium" name="taskDueDate" value="<%= taskDueDate %>" data-format="yyyy-MM-dd hh:mm:ss" type="text" placeholder="Due Date">
	          	<span class="add-on">
	          		<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	          	</span>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button id="close" class="btn close-action" data-dismiss="modal" aria-hidden="true">Cancel</button>
	        <button id="save"class="btn btn-primary save-action">Save</button>
	      </div>
	    </div>
	    <div class="modal-backdrop fade in"></div>
	</script>
	
	<script type="text/template" id="task-item">
		<td class="center-col">
			<input type="checkbox" name="status" value="1" <% if (status == 1) { %> checked="checked" <% } %> />
		</td>
		<td <% if (status == 1) { %> class="finished" <% } %>><%= taskTitle %></td>
		<td <% if (status == 1) { %> class="finished" <% } %>><%= taskDescription %></td>
		<td <% if (status == 1) { %> class="finished" <% } %>><%= taskPointValue %></td>
		<td <% if (status == 1) { %> class="finished" <% } %>><%= taskDueDate %></td>
		<td class="center-col"><a href="#edit-task" class="edit-action"><i class="icon-edit"></i></a></td>
		<td class="center-col"><a href="#delete-task" class="delete-action"><i class="icon-trash"></i></a></td>
	</script>
	<fb:login-button onlogin="welcomeUser();"></fb:login-button>
	
  </body>
</html>